<label class='image_form--label {{baseClass}}--label' htmlFor='id-{{name}}'>
	<img
		class='image_form--img {{baseClass}}--img'
		src='{{value}}'
		alt='Фото профиля'
	/>
	<input
		class='hidden'
		type='{{type}}'
		id='id-{{name}}'
		name='{{name}}'
		accept='image/*'
	/>
</label>
