<label class='image_form--label' htmlFor='id-{{name}}'>
	<img class='image_form--img' src='{{value}}' alt='Фото профиля' />
	<input
		class='hidden'
		type='{{type}}'
		id='id-{{name}}'
		name='{{name}}'
		accept='image/*'
	/>
</label>
