<aside class='chat_list'>
	<div class='chat_controls'>
		{{{profileBtn}}}
	</div>
	{{{search}}}
	{{{createChatBar}}}
	{{{chatList}}}
</aside>
<div class='chat_dialogue'>
	{{#if dialogue}}
		<div class='chat_dialogue--profile'>
			{{{profileBar}}}
		</div>
		{{{addUserBar}}}
		{{{messageList}}}
		<div class='chat_dialogue--message_bar'>
			{{{messageBar}}}
		</div>
	{{else}}
		<div class='chat_dialogue--filler'>
			<p class='chat_dialogue--filler_text'>Выберите чат чтобы отправить
				сообщение</p>
		</div>
	{{/if}}

</div>
