<div class='chat--icon'>
	{{#if chatImg}}
		{{{chatImg}}}
	{{/if}}
</div>
<div class='chat--msg_info'>
	<h3 class='chat--title'>{{chatTitle}}</h3>
	<p class='chat--msg'>
		{{#if ownMsg}}<span class='chat--own_msg'>Вы: </span>{{/if}}
		{{chatMsg}}
	</p>
</div>
<div class='chat--meta'>

	{{#if chatTime}}
		<span class='chat--time'>{{chatTime}}</span>
	{{/if}}
	<div class='chat--controls'>
		{{#if chatNewMsgs}}
			<span class='chat--new_msgs'>{{chatNewMsgs}}</span>
		{{/if}}
		{{{delBtn}}}
	</div>

</div>
