{{#if msg}}
	{{#each msg}}
		<p class='message--text {{#if ../isOwn}}message--text-light{{/if}}'>{{this}}</p>
	{{/each}}
	<span class='message--time {{#if isOwn}}message--time-light{{/if}}'>{{time}}</span>
{{/if}}

{{#if images}}
	{{#each images}}
		<img src='{{img}}' alt='{{#if title}}{{title}}{{else}}{{img}}{{/if}}' class='message--img' />
	{{/each}}
	<span class='message--time message--time-plank'>{{time}}</span>
{{/if}}
