{{#if label}}
<label class='input--label' for='id-{{name}}'>{{label}}</label>
{{/if}}
<input
	class='input {{#if error}}input-error{{/if}}'
	id='id-{{name}}'
	name='{{name}}'
	type='{{type}}'
	value='{{value}}'
	placeholder='{{placeholder}}'
/>
{{#if hint}}
	<span class='input--hint input--hint-error'>{{hint}}</span>
{{/if}}
